---
import { loadQuery } from '../utils/loadQuery';
import Section from './Section.astro';

const { maxNumberOfPosts = 3, ...rest } = Astro.props;

const posts = await loadQuery({
    query: `*[_type == "page"] | order(_id desc)[0...${maxNumberOfPosts}] {
    title,
    slug
  }`
});

const events = Array(10).fill({
    month: 'OCT',
    day: '26',
    title: 'National Day',
    time: '8:00 AM - 5:00 PM',
});
---

<Section {...rest} class="container mt-2 mb-5">
    <h3 class="my-3 text-center title pt-3">Upcoming events</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        {events.map((event) => (
            <div class="col-4">
                <div class="d-flex gap-3 align-items-center p-2 h-100">
                    <div class="text-center">
                        <div class="border rounded mb-1 p-2" style="width:70px; height:70px;">
                            <div class="fw-bold text-uppercase text-secondary" style="font-size:14px;">{event.month}</div>
                            <div class="fw-bold" style="font-size:24px;">{event.day}</div>
                        </div>
                    </div>
                    <div class="flex-grow-1 p-2">
                        <div class="fw-bold">{event.title}</div>
                        <div class="text-muted" style="font-size:13px;">{event.time}</div>
                    </div>
                </div>
            </div>
        ))}
    </div>
</Section>